<div class="container">
  {{!--   <h1>THIS IS HOME</h1>

    <p class="device"></p>
    <p class="humidity"></p>
    <p class="temp"></p>

    <h1>HERE WE WILL SEE MOIST AND TEMP</h1> --}}
    <div class="row test">
        <div class="col s12">
            <div class="card-panel blue-grey darken-4">
            <h3 class="white-text center-align">
                Temperature and humidity
            </h3>
            <h5 class="white-text"><i class="material-icons">keyboard_arrow_right</i> Device: pycom-lopy4</h5>
            <h5 class="white-text"><i class="material-icons">keyboard_arrow_right</i> Sensor: dht11</h5>
            <h5 class="white-text" id="date"><i class="material-icons">keyboard_arrow_right</i> Latest update: {{viewData.date}}</h5>
            <a href="/things/pycom-lopy4"><h5 class="darken-text" id="date"><i class="material-icons">keyboard_arrow_right</i> Link to thing API</h5></a>
        </div>
        </div>
        <div class="col s6">
        <div class="card-panel blue-grey darken-4">
            <h3 class="white-text center-align">Temperature</h3>
            <h4 class="white-text center-align" id="temperature">{{viewData.temperature}}°C</h4>
        </div>
        </div>
        <div class="col s6">
            <div class="card-panel blue-grey darken-4">
            <h3 class="white-text center-align">Humidity</h3>
            <h4 class="white-text center-align" id="humidity">{{viewData.humidity}}%</h4>
        </div>
        </div>
        <div class="col s12">
        {{!--  <div class="collection blue-grey darken-4">
        <a href="/things/pycom-lopy4" class="collection-item blue-grey darken-4 white-text">/things/pycom-lopy4</a>
        <a href="/things/pycom-lopy4/properties" class="collection-item blue-grey darken-4 white-text">/things/pycom-lopy4/properties</a>
        <a href="#!" class="collection-item blue-grey darken-4">Alvin</a>
        <a href="#!" class="collection-item blue-grey darken-4">Alvin</a>
      </div> --}}
      </div>
  </div>
</div>